<div class="gamemode-selector">
  <div class="link highlighted">
    <%= link_to "COMPETITIVE", "#" %>
  </div>
  <div class="link">
    <%= link_to "UNRATED", "#" %>
  </div>
  <div class="link">
    <%= link_to "SPIKE RUSH", "#" %>
  </div>
  <div class="link">
    <%= link_to "DEATHMATCH", "#" %>
  </div>
  <div class="link">
    <%= link_to "ESCALATION", "#" %>
  </div>
</div>
