<div class="navbar-container">
  <div class="logo">
    <%# <p> IM A LOGO I SWEAR </p> %>
  </div>
  <div class="navbar">
    <div class="links">
      <div class="link">
        <%= inline_svg_tag("red_bubble.svg", class: "highlight" )%>
        <%= link_to "OVERVIEW", "#" %>
      </div>
      <div class="link">
        <%= inline_svg_tag("gray_bubble.svg") %>
        <%= link_to "MATCH HISTORY", "#" %>
      </div>
      <div class="link">
        <%= inline_svg_tag("gray_bubble.svg") %>
        <%= link_to "PERFORMANCE", "#" %>
      </div>
      <div class="link">
        <%= inline_svg_tag("gray_bubble.svg") %>
        <%= link_to "AGENTS", "#" %>
      </div>
    </div>
    <div class= "profile">
      <div class= "online-status">
        <%= image_tag "green_status_icon.svg", class: "activity-icon" %>
        <%= tag.p "ONLINE"%>
      </div>
      <div class="profile-images">
        <%= image_tag "bell.png", class: "notification-icon"%>
        <%= link_to image_tag( @account.card["small"], class: "profile-icon"), "#" %>
      </div>
    </div>
  </div>
</div>
